body{
    background-color:navy;
    margin:30px;
}
#container{
    max-width: 400px;
    background-color:white;
    border: 2px solid black;
    border-radius:8px
}
#images{
    width: 100%;
    height: auto;
}
#name{
    text-align:center;
}